# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependencias
node_modules/
package-lock.json

# Archivos de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción
dist/
build/ 